<div class="container">
    {{current-assets accountRecords=model.accountRecords}}
    {{net-performance accountRecords=model.accountRecords}}
    
    {{ending-balance-by-quarter accountRecords=model.accountRecords}}
    {{net-change-by-quarter accountRecords=model.accountRecords}}
    {{investment-roi-by-quarter accountRecords=model.accountRecords}}
</div>