<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Year</th>
            <th>Month</th>
            <th>Balance Start</th>
            <th>Balance End</th>
            <th>Market Change</th>
            <th>Dividends/Interest</th>
            <th>Fees</th>
            <th>Withdrawals</th>
            <th>Deposits</th>
        </tr>
    </thead>
    <tbody>
        {{#each model as |historicalInvestment|}}
            <tr>
                <td>{{historicalInvestment.year}}</td>
                <td>{{historicalInvestment.month}}</td>
                <td>{{historicalInvestment.balance_start}}</td>
                <td>{{historicalInvestment.balance_end}}</td>
                <td>{{historicalInvestment.market_change}}</td>
                <td>{{historicalInvestment.dividend_interest}}</td>
                <td>{{historicalInvestment.fees}}</td>
                <td>{{historicalInvestment.withdrawals}}</td>
                <td>{{historicalInvestment.deposits}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>